{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="box">


<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mg-top">
            You are logged in as {{ app.user.userIdentifier }} <a class="btn" href="{{ path('app_logout') }}">Logout</a>
        </div>
    

    {% else %}
    <h2>Bienvenue</h2>
    <label class = "label email" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label class = "label mdp" for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn" type="submit">
        Valider
    </button>
</form>
<div>
    {# <a href= "{{path('app_register')}}" class="btn btn-lg btn-primary">Créer un compte</a> #}
</div>

</div>
{% endif %}
{% endblock %}

{% block stylesheets %}
    {# au cas ou base a déjà quelque chose #}
    {{ parent() }} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}