
{% extends 'base.html.twig' %}

{% block title %}Liste des fleurs{% endblock %}

{% block customStylesheets %}
<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="p-5">
        <h2>Liste des fleurs</h2>

        {# {{ form_start (formCouleur) }}
        {{ form_widget (formCouleur) }}
        {{ form_end (formCouleur) }}

        {{ form_start (formModeVente) }}
        {{ form_widget (formModeVente) }}
        {{ form_end (formModeVente) }}

        {{ form_start (formConditionnements) }}
        {{ form_widget (formConditionnements) }}
        {{ form_end (formConditionnements) }}

        {{ form_start (formSaisons) }}
        {{ form_widget (formSaisons) }}
        {{ form_end (formSaisons) }} #}

        <table class="table table-responsive">
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Mode de vente</th>
                <th>Prix</th>
                <th>Conditionnement</th>
                <th>Saisons</th>
                <th>Description</th>
            </tr>
            {% for fleur in fleurs %}
                <tr>
                    <td><img src='{{ asset ("/fleur01.jpg") }}'/></td>
                    <td>{{ fleur.nom }}</td>
                    <td>{{ fleur.couleurFleur.nom }}</td>
                    <td>{{ fleur.modeVente.nom }}</td>
                    <td>{{ fleur.prix }}</td>
                    <td>{{ fleur.conditionnement.nombre }}</td>
                    <td>
                    <ul>Saisons : 
                    {% for saison in fleur.saisons %}
                    <li>{{saison.mois}}</li>
                    {% endfor %}
                    </ul>
                    </td>
                    <td>{{ fleur.remarques }}</td>
                    <td><a href ="{{ path ('fleur_update', { id: fleur.id } )}}">Modifier</a></td>
                    <td><a href ="{{ path ('fleur_delete', { id: fleur.id } )}}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% block customjs %}



<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>

        

{% endblock %}

{% endblock %}
